.border-properties {
    position: relative;
    padding: 5px;

    &__header {
        padding: 10px 0px;

        > div {
            display: inline-block;
        }

        > div:last-child {
            float: right;
        }
    }

    &__body {
        &__container {
            padding: 10px 0px;

            &__title {
                padding: 5px 0px;
            }

            .select {
                margin-bottom: 10px;
            }

            .input-number-increment {
            }

            .color-picker {
                float: right;
            }
        }
    }
}
