.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    min-height: 70px;
    box-sizing:border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 100%;

    &--selected {
        outline: #0473A3 solid 2px;
        z-index: 600;
    }

    &--highlighted {
        outline: #0473A3 solid 2px;
        z-index: 500;
    }

    &__icon {
        position: absolute;

        &--move,
        &--move-right {
            z-index: 500;
            font-family: FontAwesome;
            font-style: normal;
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background: #0473A3;
            color: #fff;
            background: #0473A3;
            top: 50%;
            transform: translate(0%, -50%);
    
            &:before {
                content: '\f047';
                width: 30px;
                line-height: 30px;
            }
        }        
    
        &--move {
            left: 0;
            border-radius: 0% 50% 50% 0%;
        }
    
        &--move-right {
            right: 0;
            border-radius: 50% 0% 0% 50%;
        }
    }

    &__toolbar {
        position: absolute;
        bottom: -35px;
        right: -1px;
        margin: -5px 0px 0px 0px;

        &__icon {
            font-family: FontAwesome;
            font-style: normal;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: #fff;
            background: #0473A3;

            &--remove {
                &:before {
                    content: '\f1f8';
                }
            }

            &--clone {
                &:before {
                    content: '\f24d';
                }
            }
        }
    }
}
