.Panel {
    float: left;
    max-width: $panel-size;
    height: 100%;
}

.panel {
    &__header {
        display: flex;
        flex-direction: row;
        
        &__title {
            flex: 1;
            background-color: #EAEAEA;
            color: #505659;
            text-transform: uppercase;
            padding: 12px 10px;
        }
    }
}
