.properties {
    position: absolute;
    width: 500px;
    height: auto;
    background: $panel-background-color;
    color: $panel-color;
    padding: 10px;

    &__property {
        padding: 5px;
        &__label,
        &__value {
            display: inline-block;
        }

        &__label {
            text-transform: capitalize;
            width: 200px;
        }

        &__value {
            width: calc(100% - 206px);
        }
    }

    &__footer {
        height: 40px;
        line-height: 40px;
        text-align: right;
        padding: 0px 5px;

        &__button {
            width: 100px;
            height: 25px;

            &:first-child {
                margin-right: 5px;
            }
        }
    }
}
