.structure {
    position: relative;

    &--dragged {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: calc(100% - 60px);
    }

    &--draggable {
    }
}
