.structure {
    width: 100%;
    min-height: 70px;
    position: relative;

    &--draggable {
        height: 100%;
    }

    &__container {
        position:absolute;
        left:0;
        right:0;
        box-sizing:border-box;
        outline: #2FAADE dashed 1px;
        background: rgba(222,242,250,.85);
        outline-offset: -1px;
        text-align: center;

        > span {
            color: #2FAADE;
            line-height: 50px;
        }
    }
}
