.structure {
    width: 100%;
    min-height: 70px;
    position: relative;

    &--dragged {
        display: flex;
    }

    &--draggable {
        height: 100%;
    }

    &--selected {
        outline: #0473A3 solid 2px;
        z-index: 500;
    }

    &__toolbar {
        height: inherit;
        background: #2FAADE;

        &__cross {
            @include icon('\f00d');
            float: right;
            color: #fff;
            cursor: pointer;
        }
    }
}
