.text {
    &--dragged {
        text-align: left;
        width: 100%;
        border: none;
        margin: 0;
        outline: none;
        padding: 0px;
        cursor: text;
        resize: none;
        overflow: hidden;
        font-size: 14px;
        
        &:hover {
            cursor: text;
        }
    }

    &--ghost {
        opacity: 0.3;
        display: block;
        white-space: pre-wrap;
        word-wrap: break-word;
        visibility: hidden;
        position: absolute;
        top: 0;
    }
}
