.text {
    @include draggable;
    min-height: 30px;
    z-index: 10;

    &--selected {
        outline: #0473A3 solid 2px;
        z-index: 500;
    }

    &__toolbar {
        height: inherit;
        background: #2FAADE;

        &__cross {
            @include icon('\f00d');
            float: right;
            color: #fff;
            cursor: pointer;
        }
    }
}
