.Toolbox {
    list-style: none;
    margin: 0;
    padding: 0px;

    > li {
        padding: 5px 0px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border: 1px solid #fff;
        text-align: center;
        float: left;
        margin: 3px;

        &:hover {
            cursor: pointer;
            background: $panel-hover-background-color;
        }
    }
}
