$header-height: 100px;

$header-background-color: #0E1623;
$header-color: rgba(255, 255, 255, 0.8);

$toolbox-background-color: #3C5D98;
$toolbox-color: rgba(255, 255, 255, 0.8);
$toolbox-hover-background-color: #4E7ACA;

$toolbar-background-color: #1E2D4A;
$toolbar-color: rgba(255, 255, 255, 0.8);
$toolbar-active-background-color: #3C5D98;

$panel-size: 500px;
$ruler-size: 30px;
