$header-height: 100px;

$header-background-color: #042037;
$header-color: rgba(255, 255, 255, 0.8);

$panel-background-color: #042037;
$panel-color: rgba(255, 255, 255, 0.8);
$panel-hover-background-color: #123652;

$panel-size: 400px;
$ruler-size: 30px;
